@charset "ISO-8859-1";

.container {
	
}

#dropdown_menu {
	margin-top: 3%;

}

#leagueInfoTableContainer {
	width: 90%;
}

#deadStatus {
	color: red;	
}

.img-valign {
}

#loadingAnimation {
	margin-top: 1%;
}

