@charset "ISO-8859-1";

.container {
	
}

#dropdown_menu {
	margin-top: 3%;

}

#leagueInfoTableContainer {
	width: 90%;
}

#deadStatus {
	color: red;	
}

.img-valign {
}

#loadingAnimation {
	margin-top: 1%;
}

.modal-header{
     background-color:#F0F0F0;
}

.modal-footer{
     background-color:#F0F0F0;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 8px 12px;
  border-bottom: 1px solid #111;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 2px 12px;
  border-bottom: 1px solid #111;
}

