#tableSize {
	 width:95%; margin:auto;
	  background-color: rgba(31,49,59, 0.7) !important;
	  
}

/* icon */
#toast-container>.customer-info {
	background-color: #272727;
	width: 100%;
	margin-top: 20%;
	color: white;
}

#toast-container.toast-top-center .toast, #toast-container.toast-top-right .toast
	{
	margin-top: 6%;
	width: 12%;
	padding: 5px;
	font-size: .8em;
	text-align: center;
}

#toast-container.toast-bottom-center .toast {
	margin-bottom: 6%;
	width: 30%;
	padding: 5px;
	font-size: .8em;
	text-align: center;
}
#leagueInfoTableContainer {
	width: 100%;
	border: 0px;
}

.toast .toast-message {
	
}





