#tableSize {
	width: 95%;
	margin: auto;
	background-color: rgba(0, 5, 1, .91) !important;
}

#leagueInfoTableContainer {
	width: 100%;
	border: 0px;
}

thead {
	background-color: #1C2F35;
	color: white;
}

body {
	overflow-x: hidden;

	
	background-image: url(../assets/styleguide/poe2.jpg);	
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height:100%;
        color: white;
        
          height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

.dropdown-item {
	color: black;
}

a {
	color: #f1cd31;
}

.btn-info {
	font-weight: bold;
}

.navbar-brand {
	font-weight: bold;
}

.arrow-up {
	border: solid green;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 4px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.arrow-down {
	border: solid red;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 4px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.img-valign {
	height: 70%;
}

.xp-per-hour-green {
	/*  color: #1de100!important; */
	color: #90ee90 !important
}

.xp-per-hour-red {
	color: #ff4f53 !important;
}

#deadStatus {
	color: red;
}

.progress-bar {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	color: #00ff40;
	text-align: center;
	white-space: nowrap;
	background-color: #ffff00;
	transition: width .6s ease;
}

.progress .sr-only {
	position: absolute;
}

.progress {
	height: 8px;
	width: 95%;
	background-color: #999;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

/* Start of DataTable Row Styling */
table.dataTable thead th, table.dataTable thead td {
	padding: 8px 12px;
	border-bottom: 1px solid #111;

	
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 1px 12px;
	border-bottom: 1px solid #111;
}

.dataTables_filter label {
	color: white;
}

.dataTables_length label {
	font-weight: normal;
	display: none;
}

.loadingModal {
	/*   position: absolute; */
	top: 78%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	z-index: 10040;
	overflow: auto;
	overflow-y: auto;
	color: black;
	width: 23%;
}

.feedbackModal {

}

body.modal-open {
	overflow: hidden;
}

.modal-backdrop {
	opacity: 0.3 !important;
}

.modal-content {
	background-color: #1C2F35;
	color: white;
	/* 	 opacity:0.91 !important; */
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	opacity: 1.0 !important;
}

.modal-body {
	position: relative;
	padding: .6rem;
	padding-bottom: 0px;
}

vertical>.btn {
	position: fixed;
}

#logo {
	style=padding-left: 22%;
}

.custom-select {
	background: #fff;
}

.dropdown-toggle {

}

.btn-info {
	color: #1C2F35;
	background-color: #1C2F35;
    border-color: black;

}

.border-info {
	border-color: #1C2F35 !important;
}

.page-link {
	color: white;
}

hr {
	border-top: 1px solid white;
}

.modal-header {
	text-align: center;
}

.close {
	display: none;
}

.changeLogModal {

}

.alignChangelogModalText {
	padding-left: 10%;
}

.innerLogs {
	padding-left: 5%;
	font-size: 85%;
}

textarea {
	color: black;
	font-weight: bolder !important;
}

.g-recaptcha {
	padding-left: 35%;
}

.disable {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.5 !important;
}

.grecaptcha-badge {
    display: none;
}

#lastUpdatedMsg {
	color: white;
	float:left;
}

.dataTables_wrapper div.dataTables_filter label {
    font-size: 1em;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold !important;
	
}

.card-title{
	text-align: center;
	vertical-align: middle;
	height: 200%;


	margin: 0px;

	
	    font-size: 1.1em;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold !important;
}

#homePageTables {

}

.card {

    border: 1px #1C2F35 solid;
background-color: ingerit;


}

.card-body {
    /* background-color: rgba(51, 51, 51, 0.5); */
    padding: .5rem; 
    padding-top: 0rem;
}
.tableHead {
		background-color: #1C2F35;
	color: white;
	opacity: .9 !important;
}

.card-header {
    padding: .0rem; 
    padding-top: .1em;
}

 
.tableStyling {
	background-color: black;
	opacity: .9 !important;
	font-size: .9em;
	
    overflow-y: hidden !important;
    overflow-x: hidden !important;

}

#topTenRankings {
	font-size: .9em;
}

#topTenRankingsCard {

	background-color: rgba(28, 47, 53, 0.8) !important;
	margin: auto;
	width: 20%;
	border: 1px white solid;
	text-align: center;
	background-color: black;
	padding-top : .6%;
	vertical-align: middle;
	margin-bottom: 2%;
}

#mainDropdownButton {
	border : 1px #f1cd31 solid;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: hsla(0, 0%, 100%, .02);
}

.table-striped tbody tr:nth-of-type(even) {
	background-color: hsla(0, 0%, 100%, 0);
}

.deadChar {
	color: #808080!important;
}

.mystyle.ui-datatable .ui-datatable-scrollable-body{
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

@media (max-width:800px) {
    #carouselContainer {
        display:none !important;
    }
}

#carouselContainer {
	display:none;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-indicators {
 /* position: relative; */
}

#leagueId {

	color: black;
	opacity: 1;
	font-weight: bold !important;
}

#leagueName {

	color: black;
	opacity: 1;
	font-weight: bold !important;
}

   
   .progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000000;
    text-align: center;
    white-space: nowrap;
    background-color: #008080;
    transition: width .6s ease;

}

.progress .sr-only { position: absolute; }

.progress {height: 8px;
width : 90%;
background-color: #999;
margin: auto;
}






